@using Microsoft.AspNetCore.Http

<ul class="navbar-nav">
    @if (Context.Session.GetString("JWT") != null)
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Sesión activa</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Salir</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Ingresar</a>
        </li>
    }
</ul>